<po-modal #poModal
  p-title="Preencha seus dados"
  [p-primary-action]="close">
  <form [formGroup]="parent">
    <po-input
      p-icon="po-icon-user"
      formControlName="name"
      p-label="Nome">
    </po-input>
    <po-email
      formControlName="email"
      p-label="Email">
    </po-email>
    <po-input
      formControlName="cpf"
      p-mask="999.999.999-99"
      [p-pattern]="patternCPF"
      p-label="CPF">
    </po-input>
    <po-datepicker
      formControlName="birthdate"
      p-label="Data de Nascimento">
    </po-datepicker>
    <po-password
      formControlName="password"
      p-label="Senha">
    </po-password>
    <div class="po-text-center">
    </div>
    <div class="po-text-center po-m-2">
      <po-button
      p-label="Registrar"
      [p-disabled]="parent.invalid"
      (p-click)="handleSubmit()">
    </po-button>
    </div>
  </form>
</po-modal>
