<po-toolbar *ngIf="authService.isLogged; else notLogged"
  p-title="Rewards"
  [p-profile]="authService.profile"
  [p-profile-actions]="profileActions">
</po-toolbar>

<ng-template #notLogged>
  <div class="po-toolbar">
    <div class="po-toolbar-title">Rewards</div>
    <div class="po-toolbar-group-icon">
      <po-button
        class="po-m-1"
        p-label="Entrar"
        (p-click)="pageSlide.open()"></po-button>
      <po-button
        class="po-m-1"
        p-label="Registrar"
        (p-click)="signUpModal()">
      </po-button>
    </div>
  </div>
  <po-page-slide #pageSlide>
    <form [formGroup]="formSignIn">
      <po-email
        formControlName="email"
        name="email"
        p-label="Email">
      </po-email>
      <po-password
        formControlName="password"
        name="password"
        p-label="Senha">
      </po-password>
      <div class="po-text-center">
        <po-button
          class="po-mt-1"
          [p-disabled]="formSignIn.invalid"
          p-label="Acessar"
          (p-click)="handleSignIn()">
        </po-button>
      </div>
      <po-divider></po-divider>
      <div class="po-text-center">
        <a><img src="./assets/btn_google_light_normal_ios.svg" (click)="handleLoginGoogle()"></a>
    </div>
    </form>
  </po-page-slide>
</ng-template>

<app-rewards-sign-up-modal
  [parent]="formSignUp"
  [event]="event">
</app-rewards-sign-up-modal>
