<po-page-default
  p-title="Início">
  <div class="po-row">
    <div *ngFor="let product of products$ | async as Product">
      <mat-card class="example-card po-m-3">
        <img mat-card-image [src]="product.image">
        <mat-card-content>
          <p class="po-font-text-large-bold">{{product.name}}</p>
          <p class="po-font-text">{{product.description}}</p>
          <div class="po-text-center">
            {{product.points + ' pontos'}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</po-page-default>
